@import url('https://fonts.googleapis.com/css?family=Crete+Round');
@import url('https://fonts.googleapis.com/css?family=Cinzel|Handlee|Boogaloo|Anton|Hind');

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

strong{
  color: Black;
  font-size: 150%;
  font-family: 'Cinzel', serif;
}
.btn-primary {
  background-color: maroon;
  border-color: maroon;
  font-family: 'Cinzel', serif;
  font-size: 125%;
  border: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color:#fff;
  background-color: Brown !important; }
.btn-primary:active, .btn-primary:focus {
  box-shadow: rgba(165, 42, 42,0.5) !important;
 }

header.masthead {

  height: 100%;
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/header.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section {
  padding: 10rem 0; }
.bg-primary{
background-color: Brown !important;
background-size:98%;
color: SeaShell;

}
.bg-primary p{
  font-family: 'Handlee', serif;
  font-size: 200%;

}

#Contacto{
  background-image: url("../img/cont.jpg");
  background-position: center center;
  background-size: 170%;
  font-size: 155%;
  color: SeaShell;
  font-family: 'Hind',sans-serif;
  font-weight: bold;
  weight:100%;


}




.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: firebrick !important; }
.bg-primary h2{
    font-family: 'Cinzel', serif;
    font-weight: bold;
  color: lightsalmon;
  font-size: 300%;
}
.btn-xl {
  padding: 1rem 1rem;
  background-color: darksalmon;
  border: none;

}
.text-primary {
  color: lightsalmon !important;
 }
